*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #b2bec3;
  border: 1rem solid #636e72;
  width: 100vw;
  height: 100vh;

  /* Align the items in the middle */
}

.heading {
  margin: 0;
  font-size: 10em;
  color: #333;
}

p {
  color: #0984e3;
  font-size: 2.5rem;
  margin: 0;
}
